body {
    background: rgb(96, 99, 134);
}

.container {
    padding-left: 45%;
    padding-top: 10%;
}

h1 {
    font-size: 3.5rem;
}

#value {
    padding-left: 7.5%;
    font-size: 6rem;
}

button {
    background-color: rgb(100, 99, 99);    
    color: white;
}